data/*
!data/checkpoints/
!data/text/
!data/default_settings.yml

data/checkpoints/*
!data/checkpoints/.gitkeep
!data/checkpoints/lotr/
data/checkpoints/lotr/lotr.txt

data/text/*
!data/text/.gitkeep

logs/*
!logs/.gitkeep
